{% render 'partials/head.liquid' %}

<div class="card">
  <div class="position-card">

    <article class="front-card">
    <img src="foto-visitekaartje.jpg" alt="foto" width="225px" class="card-image">
    <h1>{{ person.name }}</h1>
    </article>
    
    <article class="back-card">
      <p>{{ custom.age }}</p>
      <p>{{ custom.plaats }}</p>
      <p>{{ custom.studie }}</p>
      <p>{{ custom.email }}</p>
    </article>
  
  </div>
 </div>

  <footer></footer>


{% render 'partials/foot.liquid' %}
